.login_main{
    width: 30%;
    margin: auto;
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 15px;
    margin-top: 50px;
}

.login_h1{
    font-size: 130%;
    font-weight: bolder;
    color: green;
    padding-Bottom: 5px;
    text-Align: center;
}

.signup_main{
    width: 40%;
    margin : auto;
    padding: 7px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 15px;
    margin-top: 50px;
}

@media (max-width: 1500px){
    .login_main{
        width: 80%;
        margin-top: 100px;
        justify-content: center;
        margin: auto;
    }

    .footer{
        width: 70%;
        margin: auto;
    }

    .signup_main{
        width: 90%;
    }

}
.loginin_btn{
    text-align: center;
    margin-top: 40px;
}

.nav_div{
    display: flex;
    justify-content: end;
    gap: 20px;
    
}
.nav_main{
    width: 100%;
}

@media (max-width: 900px){
    .login_main{
        width: 90%;
        margin-bottom: 80px;
        margin-top: 50px;
    }
    .cart_icon{
        width: 100%;
        margin-right: 200px;
        margin: auto;
        justify-content: end;
    }
    .nav_main{
        
        width: 100%;
    }
}
@media (max-width: 400px){
    .cart_icon{
        width: 100%;
        margin-right: 100%;
    }
    .nav_main{
        width: 100%;
    }

}